[project]
name = "coffee-and-wifi"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "flask>=3.1.0",
    "flask-bootstrap>=3.3.7.1",
    "flask-wtf>=1.2.2",
]
